{% extends 'register/home.html'%}

{% block content %}

<br><br><br>

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="./" data-target="#profile" data-toggle="tab" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="." data-target="#messages" data-toggle="tab" class="nav-link  active">Change Password</a>
                </li>
                <li class="nav-item">
                    <a href="./edit"  class="nav-link">Edit Profile</a>
                </li>
            </ul>
     
                <div class="tab-pane active" >
                    <form role="form" method="POST">  {% csrf_token %}         
                        <div class="form-group row">
                       
                            <label class="col-lg-3 col-form-label form-control-label">Old Password</label>
                            <div class="col-lg-9">
                                {{form.old_password}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">New password</label>
                            <div class="col-lg-9">
                                {{form.new_password1}}
                             
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">New password Confirme</label>
                            <div class="col-lg-9">
                                {{form.new_password2}}
                            </div>
                            </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel"  onclick="location.href='../profile';"></a>
                                <input type="submit" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}